body {
  font-family: "Lato", "Sans Serif", "Arial";
  font-weight: 400;
  overflow-x: hidden;
  letter-spacing: 0.05rem;
}

h3{
  font-size: 1.5rem;
  font-weight: 400;
  text-align:center;
  padding-top: 1rem;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  color: #666;
  margin-bottom: 0;
}

h4{
  font-size: 1.4rem;
  font-weight: 300;
  text-align:center;
  letter-spacing: 0.05rem;
  color: #666;
}

nav{
  position: fixed;
  height: 10rem;
  font-size: 1.3rem;
  text-align: left;
  right: 1.4rem;
  margin: auto;
  top: 0;
  bottom: 0;
  padding-bottom: 1rem;
  z-index: 9998;
  background-color: none;
  letter-spacing: 0.5pt;
}

canvas{
  position: fixed;
  z-index: 1;
}

.divider{
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  right: 8.5rem;
  top: 0.7rem;
  border-radius: 100px;
  background-color: #C42128;
  z-index: 10000;

}

#logo_small{
  position: fixed;
  right: 4.3rem;
  height: 5rem;
  top: 2rem;
  z-index: 10000;
  opacity: 0;
}

nav > ul > li{
  list-style-type: none;

  color: #666;
  padding-bottom: 1rem;
  padding-right: 2rem;
  margin: 0;
}



.hero-1{
  display: block;
  position: relative;
  width: 18rem;
  top: 40vh;

  margin: auto auto;
}


#home{
  height: 100vh;
}

.section{
  width: 100vw;
  height: auto;
}


#container{
  position: absolute;
  z-index: 2;
}


#wave{
  background-image: url("../img/wave.png");
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  bottom:0vh;
  width: 100vw;
  height: 17vh;
  position: fixed;
  z-index: 9997;
}

.hero-transition{
  width: 100vw;
}

.gallery img{
  width: 100%;
  display: block;
  margin:auto;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.gallery img:hover{
  background-color: #ddd;
}

div.gridItem{
  margin-bottom: 3rem !important;
}

#about .gallery{
  padding-top: 0.7rem;
}

.container{
  position: relative;
  width: 80vw;
  margin: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.load-screen{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: #fff;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(196, 33, 40, 0.4);
    border-top-color: rgba(196, 33, 40, 0.8);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}


#contact{
  height: 100vh;
  background-color: #333;
}

.contact-container{
  position: fixed;
  height: 35rem;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  visibility: hidden;
}

.contact-container img{
  height: 15rem;
  padding-bottom: 1rem;
}

#contact > p i{
  font-size: 2.5rem;
  color: #c33;
}

.about-container{
  /*background-image: url(../img/wave_long.png);
  background-repeat: no-repeat;*/
  background-color: #333;
  /*background-size: cover;*/

  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
}


.portfolio-container{
  margin-bottom: 15rem;
}

.about-container > img {
  width: 100%;
}

.about-container > .container{
  padding-top: 20rem;
  margin-bottom: 0;
}

#contact{
  height: 180vh;
  background-color: #333;

  left: 0;
  right: 0;
}

#about {
  color: #fff;
  font-weight: 300;
}

.about-container .container{
  height: 110vh;
}


#portrait{
  position: fixed;
  left: 5vw;
  bottom: 0;
  height: 80vh;
  z-index: 10000;
}

.aboutText1 {
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 42vw;
  width: 40vw;
  margin-bottom: 0;
}

#fadeTrigger{
  height: 10vh;
}

#fadeBox{
  visibility: hidden;
}

.aboutText1 > span{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 40px;

}

.aboutText1 > span > a{
  padding: 1rem 2rem;
  border: solid #c33 1px;
  color: #c33;
  font-weight: 400;

}

.navItem{
  font-weight: 400;
}

#portfolio-nav {
  width: 25rem;
  margin: auto;
  margin-bottom: 5rem;
}

.filter {
  margin: 0.7rem;
  font-size: 1.3rem;
  color: #666;
  padding-bottom: 0.3rem;

}

.filter:hover{
  cursor: pointer;
  border-bottom: 1px solid #c33;
  color: #666;
}

a.al {
  border-bottom: 1px solid #c33;
}

#Container .mix{
    display: none;
}
